
<div class="container" style="margin-top: 10%">
	<center>
		<%= link_to "shipper", shipper_session_path, class: 'btn btn-primary' %>
		<%= link_to "customer", customer_session_path, class: 'btn btn-primary' %>
	</center>
</div>
