
<div class="container" style="margin-top: 10%">
	<center>
		<%= link_to "shipper", new_shipper_registration_path, class: 'btn btn-primary' %>
		<%= link_to "customer", new_customer_registration_path, class: 'btn btn-primary' %>
	</center>
</div>
